body { /*DEFAULT - Mobile*/
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0px;
  color: white;
  background: black;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
h1 {font-size: 80px;}

footer {
  background-color: black;
  color: white;
}
/**CLASSES**/
.center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display:grid; place-items:center;
}
.centerVertical{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display:grid; place-items:center;
}

.topFrame {
  background-color: #d6d6d6;
  width: 50%; height: 100vh;
}

.fullPage{
  display:grid; place-items:center;
  height: 100vh; width: 100vw;
}

.relativePos {position: relative; display: inline-block;}

.circle{
  height: 25px;
  width: 25px;
  background-color: #6eef44;
  border: rgb(28, 142, 58) 2px solid;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition-duration: 0.4s;
}
.circle:hover{
  transform: scale(1.2);
}
.circle[data-part="wing"] {top: 30%; left: 75%;}
.circle[data-part="head"] {top: 25%; left: 45%;}
.circle[data-part="tail"] {top: 80%; left: 35%;}

.textWindow {
  border: 3px black solid;
  padding: 15px;
  background: rgb(233, 233, 233);
  color: black;
}

.btn {
  border: 0px;
  padding: 10px;
  background: #b3d4e0;
  cursor: pointer;
}
.backBtn{
  border: 0px;
  padding: 10px;
  background: #b3d4e0;
  cursor: pointer;
  margin-top: 20px;
}

.hiddenItem {display: none;}

.parallaxBG {
  background-attachment: fixed; background-position: center;
  background-image: url(images/injuredPigeon.jpg);
  display:grid; place-items:center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hamMenuButtons {
  width: 100%; height: 8%; 
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: .5s;
}
.hamMenuButtons:hover {
  height: 10%; background-color: rgb(222, 222, 222);
}

.contentPage {
  background-color: rgb(255, 255, 255); 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%; padding-right: 5%;
  color: black;
}

.grid_2x1 {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  row-gap: 20px;
}

.navigation{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 20%);
}
.navigation img {width: 100%;}

.navigationImages {
  width: 100%; 
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); 
  transition: .4s;
  
}
.navigationImages:hover { width: 105%; cursor: pointer; }

.whiteBorder {
  width: 90%;
  margin: auto;
  margin-top: 30%; margin-bottom: 30%;
  border: solid white 2px;
  font-size: 20px;
}

.list {
  text-align: left;
  margin: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 70%;
}
.list li { list-style:lower-alpha; padding: 0; margin: 0; }

.quiz {
 border: 2px rgb(100, 100, 100, 0.8) solid;
 border-radius: 10px;
 padding: 10px;
}
.arrowCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #000;
  display: flex;
  justify-content: center; align-items: center;
  cursor: pointer;
  transition: .2s;
}
.arrowCircle:hover {background-color: rgb(214, 214, 214);}
.rightArrow {
  width: 15px; height: 15px;
  border: 3px solid #000;
  transform: rotate(45deg);
  border-left: 0px; border-bottom: 0px;
  background-color: inherit;
  pointer-events: none; 
}
.leftArrow {
  width: 15px; height: 15px;
  border: 3px solid #000;
  transform: rotate(45deg);
  border-right: 0px; border-top: 0px;
  background-color: inherit;
  pointer-events: none; 
}

.arrowBtnsContainer {
  display: flex;
  justify-content: center;
  gap: 300px; margin: 15px;
}

.field {
  border: 2px black solid;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.interactWindow {
  background-color: rgb(216, 216, 216);
  border: #a0a0a0 2px solid;
}
.foodWindow {
  background: white; border: grey 2px solid;
  position:fixed; top: 30%; left: 50%; /*set position of the food window*/
  padding: 15px; width: max-content;
  transform: translateX(-50%); /*set it to the middle*/
  z-index: 2;
}
.interacBtn {
  cursor: pointer;
  background: rgb(95, 95, 95);
  color: white; margin: 5px; padding: 5px;
}

.pigeonCareStats {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.careStat { margin: 15px; }

/*CSS sprites for the interactable objects in minigame*/
.sponge {
  background: url('images/interactObjs.png') 0 0;
}
.hand {
  background: url('images/interactObjs.png') -160px 0;
}
.ball {
  position: absolute;
  top: 0; left: 0;
  width: 80px; height: 68px;
   background: url('images/interactObjs.png') -80px 0;
}

.screenButtons {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}
/***********/
/**IDs**/
#mainPage{ display: block; max-width: 100vw;}
#hamMenuBtnID {
  width: 15vh; 
  position: fixed;
  top: 10px; left: 10px;
  border-radius: 40%; border: white 3px solid;
  z-index: 100;
  cursor: pointer;
}
#hamMenu {
  color: black;
  position: fixed;
  top: -103vh;
  background: white;
  width: 25%;
  height: 100vh;
  z-index: 100;
  border: 2px solid black;
}

#quizContainer {
  margin: auto;
  width: 80%;
  height: 60vh;
  display: grid;
  padding: 10px;
  place-items: center;
}
#questionHolder {  width: 70%; }
#nextButton {margin-top: 10%; background: rgb(234, 234, 146); border-radius: 8px;}

#minigameContent { height: auto; }

#petPigeonID {
    animation: squashing 2.5s ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer; position: absolute;
    transition: 1s ease-in-out;
    user-select: none;
}
#moneyBox {
  text-align: left; background-color: rgb(119, 255, 119);
  width: max-content; padding: 5px; margin: 0px;
  position: absolute; left: 0; bottom: 0; /*put the moneybox in the bottom left of the field*/
}

#interactItem { 
  position: absolute;
  top: 0; left: 0;
  width: 80px; height: 68px;
  background-image: url('images/interactObjs.png');
  background-repeat: no-repeat;
  background-size: auto;
}
#resetStats {
  border: 0px;
  background-color: rgb(255, 119, 119);
  padding: 10px;
  cursor: pointer;
}

#qrCode {
  display: block;
  position: fixed;
  bottom: 10px;
  right: -70px;
  z-index: 99;
  cursor: pointer;
}
#qrCode img {width: 50%;}

#foodOptions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#btnFS {
  border: 0px;
  padding: 5px;
  cursor: pointer;
  transition: .2s;
}
#btnFS:hover {background-color: grey;}
#btnWS {
  border: 0px;
  padding: 5px;
  cursor: pointer;
  transition: .2s;
}
#btnWS:hover {background-color: grey;}
/*****************/
/****ANIMATION****/
@keyframes windowAnimationFramesOpen {
  0% {top: 80%; opacity: 0%;}
  100% {opacity: 100%;}
}
.windowAnimationOpen {animation: windowAnimationFramesOpen 1s;}

@keyframes windowAnimationFramesClose {
  0% {opacity: 100%;}
  100% {top: 80%; opacity: 0%;}
}
.windowAnimationClose {animation: windowAnimationFramesClose 1s;}

/*For the menu*/
@keyframes slideDownFrames {
  0% {transform: translateY(0);}
  100% {transform: translateY(80vh);}
}
.slidedown {animation: slideDownFrames 1s ease-in-out forwards;}
@keyframes slideUpFrames {
  0% {transform: translateY(80vh);}
  50% {transform: translateY(81vh);}
  100% {transform: translateY(0vh);}
}
.slideup {animation: slideUpFrames 1s ease-in-out forwards;}
/**/
@keyframes menuAnimframesOpen {
  0% {transform: translateY(0vh);}
  100% {transform: translateY(103vh);}
}
.menuAnimOpen {animation: menuAnimframesOpen 1.2s ease-in-out forwards;}
@keyframes menuAnimframesClose {
  0% {transform: translateY(103vh);}
  50% {transform: translateY(105vh);}
  100% {transform: translateY(-100vh);}
}
.menuAnimClose {animation: menuAnimframesClose 1.2s ease-in-out;}

@keyframes hideAndBlurFrames {
  0% {opacity: 100%; filter: blur(0px);}
  100% {opacity: 0%; filter: blur(10px);}
}
.hideAndBlur {animation:  hideAndBlurFrames .5s ease-in-out;}

@keyframes unHideAndUnBlurFrames {
  0% {opacity: 0%; filter: blur(10px);}
  100% {opacity: 100%; filter: blur(0px);}
}
.unHideAndUnBlur {animation: unHideAndUnBlurFrames .5s ease-in-out; }

@keyframes spinFrames {
  0% {transform: scaleX(1); }
  50% {transform: scaleX(0); }
  100% {transform: scaleX(1); }
}
.spin { animation: spinFrames .5s ease-in-out; }

@keyframes squashing {
  0% {transform: scaleY(1);}
  50% {transform: scaleY(.9);}
  100% {transform: scaleY(1);}
}

@keyframes flashGreenFrames {
  0% {color: black;}
  50% {color: #2b9309;}
  100% {color: black;}
}
.flashGreen { animation: flashGreenFrames .5s ease-in-out; }
/*****************/
/*Specifically for scrolling up and down*/
.hide {
  opacity: 0%;
  transition: .4s;
}
.show {opacity: 100%;}
/*****************/
/**RWS**/
@media (min-width: 320px ){ /*Mobile*/
  .pigeonParts{width: 400px ;}
  .pigeonParts h1{font-size: 50px;}
  .relativePos {width: 300px;}
  .relativePos img {width: 300px;}
  .grid_2x1 {grid-template-columns: 1fr;}
  .grid_2x1 img {width: 100%;}
  .list img { width: 40%;}
  .foodContent {width: 70%;}
  #qrCode {display: none;}
}

@media (max-width: 768px){ /*Tablet*/
  .pigeonParts{width: 320px;}
  .pigeonParts h1{font-size: 50px;}
  .relativePos {width: 300px;}
  .relativePos img {width: 300px;}
  .grid_2x1 {grid-template-columns: 1fr;}
  .navigation {grid-template-columns: repeat(2, 40%);}
  .arrowBtnsContainer {gap: 80px;}
  .pigeonCareStats {width: 50%;}
  #hamMenu {width: 100%;}
  #hamMenuBtnID {width: 15%;}
  #qrCode {display: none;}
  #questionHolder {width: 100%;}
}